<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" href="../common/reset.css">-->
<!--    <link rel="stylesheet" href="leaderboard.css">-->
<!--    <link rel="shotcut icon" href="../common/target.png">-->
<!--    <title>Рейтинг</title>-->
<!--</head>-->
<!--<body>-->
<!--    <main>-->
<!--        <table>-->
<!--            &lt;!&ndash; <caption>Рейтинг участников</caption> &ndash;&gt;-->
<!--            <tr>-->
<!--                <th>Позиция</th>-->
<!--                <th>Имя</th>-->
<!--                <th>Набрано баллов</th>-->
<!--                <th>Время</th>-->
<!--                <th>Дата</th>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>1</td>-->
<!--                <td>спидран</td>-->
<!--                <td>1</td>-->
<!--                <td></td>-->
<!--                <td></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>2</td>-->
<!--                <td>по</td>-->
<!--                <td>4</td>-->
<!--                <td></td>-->
<!--                <td></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>3</td>-->
<!--                <td>майнкрафту</td>-->
<!--                <td>8</td>-->
<!--                <td></td>-->
<!--                <td></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>4</td>-->
<!--                <td>поехали</td>-->
<!--                <td>8</td>-->
<!--                <td></td>-->
<!--                <td></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--        <div class="links">-->
<!--            <a href="../homepage/homepage.html">Перейти на Главную</a>-->
<!--        </div>-->
<!--    </main>-->
<!--    <script src="leaderboard.js"></script>-->
<!--</body>-->
<!--</html>-->

{% extends 'base.html' %}
{% load static %}
{% block style %}
        <link rel="stylesheet" href="{% static 'CSS/leaderboard.css' %}" />
    {% endblock style %}
{% block title %}Рейтинг{% endblock title %}
  {% block content %}
    <main>
        <table>
            <!-- <caption>Рейтинг участников</caption> -->
            <tr>
                <th>Позиция</th>
                <th>Имя</th>
                <th>Набрано баллов</th>
                <th>Время</th>
                <th>Дата</th>
            </tr>
            {% for user in leaderboard_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.score }}</td>
                <td>{{ user.time }}</td>
                <td>{{ user.date }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="links">
            <a href="{% url 'homepage' %}">Перейти на Главную</a>
        </div>
    </main>
{% endblock content %}